div, span{
  font-size: x-large;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 2px solid black;
  width: 200px;
  height: 150px;
}

.div_1{
  box-sizing: border-box;
}
.div_2{
  box-sizing: content-box;
}