.div-img{
  width : 200px;
  height : 200px;

  background-image:url("../img/camera_setting.jpg") ;

  /* background-size: cover; */

  /* background-position: center; */
  overflow: scroll;
  background-attachment: local;
}
.div-repeat{
  width : 200px;
  height : 200px;

  background-image: url("../img/icon_hospital.png");
  background-repeat: no-repeat;
}