.ball{
  width: 100px;
  height: 100px;
  background-color: deepskyblue;
  border-radius: 50%;
  animation: updown 1s infinite alternate ease-in;
}

@keyframes updown{
  from{
    transform: translateY(0);
    transform: translate(0, 0);
  }
  to{
    transform: translate(100px, 100px);
  }
}