*{
  margin: 0;
  padding: 0;
}
#leftinfo{
  float: left;
}
#rightinfo{
  float: right;
}

footer{
  background-color:#f2f2f2; 
}

#searchButton{
  text-align: center;
}

#search{
  text-align: center;
}

#logo{
  text-align: center;
}

.footer_info_left{
  text-align: left;
}
.footer_info_right{
  text-align: right;
}